
.idea/modules.xml

.idea/open-cx-t2g3-them-d.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/

smartcon_app/android/app/google-services.json

smartcon_app/android/gradle/

smartcon_app/.vscode/

images/mockups/Icon

images/Icon

smartcon_app/android/app/src/debug/Icon

smartcon_app/android/app/src/main/java/io/flutter/plugins/Icon

smartcon_app/android/app/src/main/java/io/flutter/Icon

smartcon_app/android/app/src/main/java/io/flutter/Icon

smartcon_app/android/app/src/main/java/io/Icon

smartcon_app/android/app/src/main/java/Icon

smartcon_app/android/app/src/main/kotlin/com/example/smartcon_app/Icon

smartcon_app/android/app/src/main/kotlin/com/example/Icon

smartcon_app/android/app/src/main/kotlin/com/Icon

smartcon_app/android/app/src/main/kotlin/Icon

smartcon_app/android/app/src/main/res/drawable/Icon

smartcon_app/android/app/src/main/res/mipmap-hdpi/Icon

smartcon_app/android/app/src/main/res/mipmap-mdpi/Icon

smartcon_app/android/app/src/main/res/mipmap-xhdpi/Icon

smartcon_app/android/app/src/main/res/mipmap-xxhdpi/Icon

smartcon_app/android/app/src/main/res/mipmap-xxxhdpi/Icon

smartcon_app/android/app/src/main/res/values/Icon

smartcon_app/android/app/src/main/res/Icon

smartcon_app/android/app/src/profile/Icon

smartcon_app/android/app/src/Icon

smartcon_app/android/app/Icon

smartcon_app/android/Icon

smartcon_app/images/Icon

smartcon_app/lib/Icon

smartcon_app/test/Icon

smartcon_app/Icon

Icon

